.header {
    background-color: cadetblue;
    background-image: url("../img/art.jpg");
    background-size: cover;
    background-position: center center;
    color: white;
    padding: 0;
    height: 3em; }

.header {
    height: 20em;
    position: relative;
    padding-bottom: 2em; }
.header .container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 99 0px; }
.header h1 {
    font-size: 4em;
    line-height: 1;
    letter-spacing: -2px;
    padding-left: 0; }
.header nav {
    float: left;
    clear: left; }
.header nav ul {
    margin: 0; }
.header nav ul li {
    display: inline;
    line-height: 3em;
    background: none;
    padding: 0 5px;
    border: none; }
.header nav ul li a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    padding: 0 .25em; }
.header nav ul li a:hover {
    color: #cccccc; }
.header nav ul li.current {
    padding-bottom: .25em;
    border-bottom: 4px solid rgba(255, 255, 255, 0.4); }
